<footer class="footer" id="footer">
	<div class="container__second">
		<div class="footer__wrapper">
			<img class="footer__logo" src="styles/img/logo/logoMoon.svg" alt="logo">
			<div class="footer__links">
				<div class="footer__address">
					<div class="footer__address-text">Мы&nbsp;находимся&nbsp;по&nbsp;адресу:</div>
					<div class="footer__location">
						<img class="footer__logogeo" src="styles/img/icons/gео_icon.svg" alt="geo">
						<address class="footer__street">г.&nbsp;Минск,&nbsp;ул.&nbsp;Запрудная,&nbsp;д.2</address>
					</div>
				</div>
				<div class="footer__telEmail">
					<div class="footer__tel">
						<img class="footer__logophone" src="styles/img/icons/phone_icon.svg" alt="phone">
						<a class="footer__phone" href="tel:+78008008585">8-800-800-85-85</a>
					</div>
					<div class="footer__email">
						<img class="footer__logomail" src="styles/img/icons/mail-icon.svg" alt="mail">
						<a class="footer__mailto" href="mailto:moon85@gmail.com">moon85@gmail.com</a>
					</div>
				</div>
				<div class="footer__social">
					<div class="footer__socialText">Мы в соц. сетях:</div>
					<div class="footer__social-icons">
						<a class="footer__item" href="#">
							<img src="styles/img/icons/insta_icon.svg" alt="instagram">
						</a>
						<a class="footer__item" href="#">
							<img src="styles/img/icons/fb_icon.svg" alt="fb">
						</a><a class="footer__item" href="#">
							<img src="styles/img/icons/vk_icon.svg" alt="vk">
						</a>
						<a class="footer__item" href="#">
							<img src="styles/img/icons/twitter_icon.svg" alt="twitter">
						</a>
					</div>
				</div>
			</div>
			<iframe class="footer__iframe"
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2348.1229046443436!2d27.44286201541068!3d53.947324737226644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbc4f2d22b42c1%3A0xffb650c635b6515d!2z0YPQu9C40YbQsCDQl9Cw0L_RgNGD0LTQvdCw0Y8sINCc0LjQvdGB0LosINCR0LXQu9Cw0YDRg9GB0Yw!5e0!3m2!1sru!2sru!4v1584826221233!5m2!1sru!2sru"
				width="400" height="300" style="border:0;" allowfullscreen="" aria-hidden="false"
				tabindex="0"></iframe>
		</div>
	</div>
</footer>