<div class="order_form_container1" style="display: none;">
	<form class="order_form">
		<div class="order_form__close">
			<div></div>
			<div></div>
		</div>
		<h4 class="order_form__title">Запишитесь к нам в салон</h4>
		<div class="inputs">
			<div class="inputs__container1">
				<input type="radio" name="type" value="1" id="type-service">
				<label for="type-service" class="inputs__type-service"><span>Тип услуг</span><span
						class="inputs__tick"></span></label>

				<div class="content" style="display: none;">
					<div>
						<input type="radio" name="style" value="Usual маникюр (500 &#8381;)" id="usual_m" checked />
						<label for="usual_m"> <span>Usual маникюр</span><span>500 &#8381;</span></label>
					</div>
					<div>
						<input type="radio" name="style" value="Shellac маникюр (1000 &#8381;)" id="shellac_m" />
						<label for="shellac_m"><span>Shellac маникюр</span> <span>1000 &#8381;</span></label>
					</div>
					<div>
						<input type="radio" name="style" value="UF маникюр (1700 &#8381;)" id="uf_m" />
						<label for="uf_m"><span>UF маникюр</span> <span>1700 &#8381;</span></label>
					</div>
					<div>
						<input type="radio" name="style" value="Usual педикюр (800 &#8381;)" id="usual_p" />
						<label for="usual_p"><span>Usual педикюр</span> <span>800 &#8381;</span></label>
					</div>
					<div>
						<input type="radio" name="style" value="Shellac маникюр (1200 &#8381;)" id="shellac_p" />
						<label for="shellac_p"><span>Shellac маникюр</span> <span>1200 &#8381;</span></label>
					</div>
					<div>
						<input type="radio" name="style" value="UF педикюр (1900 &#8381;)" id="uf_p" />
						<label for="uf_p"><span>UF педикюр</span> <span>1900 &#8381;</span></label>
					</div>
				</div>

				<div class="inputs__date-time-container">
					<input type="radio" name="type" value="2" id="date">
					<label for="date" class="inputs__date">
						<span class="inputs__date-icon"></span><span>02.03.2020</span></label>

					<input type="radio" name="type" value="3" id="time">
					<label for="time" class="inputs__time">
						<span class="inputs__time-icon"></span><span>13:00</span></label>
				</div>

				<div class="datepicker_container" style="display: none;">
					<div id="datepicker" class="calendar"></div>

					<div class="datepicker__day-container">

						<div class="datepicker__day-title">
							<span class="datepicker__day">ПН</span>
						</div>

						<div class="datepicker__time-container">

							<div>
								<div class="datepicker__time datepicker__time-block--1 datepicker__time-available"> <span
										class="datepicker__time-info">12:00</span>
								</div>
								<div class="datepicker__time datepicker__time-block--2 datepicker__time-available"> <span
										class="datepicker__time-info">12:30</span> </div>
								<div class="datepicker__time datepicker__time-block--3 datepicker__time-available"> <span
										class="datepicker__time-info">13:00</span> </div>
							</div>
							<div>
								<div class="datepicker__time datepicker__time-block--4 datepicker__time-available"> <span
										class="datepicker__time-info">13:30</span> </div>
								<div class="datepicker__time datepicker__time-block--5 datepicker__time-available"> <span
										class="datepicker__time-info">14:00</span> </div>
								<div class="datepicker__time datepicker__time-block--6 datepicker__time-available"> <span
										class="datepicker__time-info">14:30</span> </div>
							</div>
							<div>
								<div class="datepicker__time datepicker__time-block--7 datepicker__time-available"> <span
										class="datepicker__time-info">15:00</span> </div>
								<div class="datepicker__time datepicker__time-block--8 datepicker__time-available"> <span
										class="datepicker__time-info">15:30</span> </div>
								<div class="datepicker__time datepicker__time-block--9 datepicker__time-available"> <span
										class="datepicker__time-info">16:00</span> </div>
							</div>
							<div>
								<div class="datepicker__time datepicker__time-block--10 datepicker__time-available"> <span
										class="datepicker__time-info">16:30</span> </div>
								<div class="datepicker__time datepicker__time-block--11 datepicker__time-available"> <span
										class="datepicker__time-info">17:00</span> </div>
								<div class="datepicker__time datepicker__time-block--12 datepicker__time-available"> <span
										class="datepicker__time-info">17:30</span> </div>
							</div>

						</div>
					</div>

					<div class="datepicker__close">
						<div></div>
						<div></div>
					</div>
				</div>

			</div>

			<div class="inputs__container2">
				<input type="text" class="inputs__name" placeholder="Ирина Фалькова">
				<input type="text" class="phone_us" placeholder="+375(29) 123-45-67">
			</div>
		</div>


		<button data-micromodal-trigger="modal-1" class="for_modal">заказать</button>
	</form>
</div>