<header class="header">
	<div class="header__menu-tablet">
		<ul>
			<li><a href="#aboutUs">О нас</a></li>
			<li><a href="#ourServices">Цены</a></li>
			<li><a href="#ourMasters">Наша команда</a></li>
			<li><a href="#our_works">Наши работы</a></li>
			<li><a href="#reviews">Отзывы</a></li>
			<li><a href="#footer">Контакты</a></li>
		</ul>
	</div>
	<div class="container__first">
		<div class="header__wrapper">
			<nav class="header__navbar">
				<div class="header__logo"></div>
				<ul>
					<li><a href="#aboutUs">О нас</a></li>
					<li><a href="#ourServices">Цены</a></li>
					<li><a href="#ourMasters">Наша команда</a></li>
					<li><a href="#our_works">Наши работы</a></li>
					<li><a href="#reviews">Отзывы</a></li>
					<li><a href="#footer">Контакты</a></li>
				</ul>
				<div class="header__container-tel">
					<div class="header__phone-button">
						<div class="header__phone"><a href="tel:+88008008585"></a></div>
					</div>

					<div class="header__hamburger" id="hamburger">
						<a id="hamburger-icon" href="#" title="Menu">
							<span class="line line-1"></span>
							<span class="line line-2"></span>
							<span class="line line-3"></span>
						</a>
					</div>
					<a href="tel:+88008008585" class="header__tel">8-800-800-85-85</a>
				</div>
			</nav>

			<h1 class="header__title">Салон красоты MOON</h1>
			<p class="header__text">Создаем красоту, учитывая индивидуальность наших клиентов</p>
			<button class="header__online-registration-button">онлайн-запись</button>
		</div>
	</div>
	<div class="header__pc-banner-clouds"></div>
</header>