$font-size-base: 16px;

//Colors
$white: #FFFFFF;
$black: #000000;
$purple-heading: #4D476F;
$button-stroke: #7063D2;
$button-gradient-first-color: #9484FD;
$button-gradient-second-color:#7263E6;
$light-purple-gradient-first-color: #EFEDFD;
$light-purple-gradient-second-color:#E3DFFF;
$light-purple: #8273F1;
$stroke: #9584FE;
$input-border-color: #CEDAEB;

//breakpoints
$breakpoint-xs: 421px;
$breakpoint-sm: 620px;
$breakpoint-md: 770px;